.container {
  
  position: relative;
  margin-bottom: -.5rem;
  /* border-radius: 0.7rem; */
  /* padding-top: 0.3rem; */
  /* border: 1px solid red; */
}

.label {
  /* border: 2px solid yellow; */
  display: inline-block;
  margin-left: 1rem;
  color: rgb(22, 3, 3);
  font-size: 1.1rem !important;
}

.content {
  /* border: 2px solid blue; */
  color: red;
  padding: 0 0.5rem;
  height: 2.7rem;
  /* gap: 100px !important; */
  display: flex;
  padding-bottom: -2rem !important;
  align-items: center;
}
